<div class="row">
  <div class="col-8 mx-auto">

    <form [formGroup]="marksForm" (ngSubmit)="createUser()">

      <div class="mb-3">
        <label class="form-label">Student Id</label>
        <input type="text" class="form-control" formControlName="student_id">
      </div>

      <div class="mb-3">
        <label class="form-label">Subject</label>
        <input type="text" class="form-control" formControlName="subject">
      </div>

      <div class="mb-3">
        <label class="form-label">Score</label>
        <input type="text" class="form-control" formControlName="score">
      </div>

      <div class="mb-3">
        <label class="form-label">Exam Year</label>
        <input type="text" class="form-control" formControlName="exam_year">
      </div>

      <button type="submit" class="btn btn-primary">
        Submit
      </button>
      <button type="button"class="btn btn-info" (click)="goback()">GoBack</button>

    </form>

  </div>
</div>