<div class="row">
  <div class="col-8 mx-auto">

    <form [formGroup]="usersForm" (ngSubmit)="createUser()">

      <div class="mb-3">
        <label class="form-label">User Id</label>
        <input type="text" class="form-control" formControlName="user_id">
      </div>

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" formControlName="name">
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
      </div>

      <div class="mb-3">
        <label class="form-label">DOB</label>
        <input type="date" class="form-control" formControlName="dob">
      </div>

      <button type="submit" class="btn btn-primary">
        Submit
      </button>
      <button type="button"class="btn btn-info" (click)="goback()">GoBack</button>

    </form>

  </div>
</div>